<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    <h1>Labas, cia index.</h1>
    <ol>
        <li>
            Lesson 1
            <p>Cia ismokom ta ir ana</p>
            <a href="/test">test page</a>
            <ol>
                <li><a href="/boilerplate">Boilerplate</a></li>
                <li><a href="/input_url/Hi">Input word into url field after /</a></li>
                <li><a href="/keliamieji">List all leap year</a></li>
                <li><a href="/arkeliamieji">Is it leap year?</a></li>
                <li><a href="/biudzetas">Biudzetas</a></li>
            </ol>
        </li>
        <li>
            Lesson 2
            <ol>
                <li><a href="/blog">Simple blog</a></li>
            </ol>
        </li>
    </ol>
</body>
</html>
